:root {
    --branco: #fff;
    --branco02: #FBFAF9;
    --cinza-claro: #f2f0ee;
    --titulo-livro: #6c6a69;
    --texto-chamativo: #0DB1F8;
    --primary-color: #FBFAF9;
    --secondary-color: #FFAA60;
    --fundo-precos: #f2f0ee;
    --borda-precos: rgba(108, 105, 105, .2);
    --detalhes-titulos: rgba(108, 105, 105, .7);
    --fundo-botao: #fac459;
    --fundo-titulo-secao: #484848;
    --titulo-rodape: #f8965d;
    --botao: #333;
    --texto-pagamento: #d5d5d5;
    /*
    --borda-secao-item: #e8e8e8;
    --borda-secao: #fd8325;
    --borda-texto: #a1a1a1;
    */
}