<section>

</section>
<ul class="sections">
    <li *ngFor="let item of getSections" class="sections__program">
        <div *ngIf="item.area == 'programação'" class="sections__item">
            <a href="#" class="sections__acess programacao">
                <img [src]="item.imageSectionUrl" alt="ícone seção programação" class="sections__image">
                <h6 class="sections__area">Livros de
                    <p>{{item.area}}</p>
                </h6>
            </a>
            <p class="sections__text">{{item.section1}}, {{item.section2}}, {{item.section3}}, {{item.section4}}, {{item.section5}}</p>
        </div>
    </li>
    <li *ngFor="let item of getSections" class="sections__mobile">
        <div *ngIf="item.area == 'mobile'" class="sections__item">
            <a href="#" class="sections__acess mobile">
                <img [src]="item.imageSectionUrl" alt="ícone seção mobile" class="sections__image">
                <h6 class="sections__area">Livros de
                    <p>{{item.area}}</p>
                </h6>
            </a>
            <p class="sections__text">{{item.section1}}, {{item.section2}}, {{item.section3}}, {{item.section4}}</p>
        </div>
    </li>
    <li *ngFor="let item of getSections" class="sections__front-end">
        <div *ngIf="item.area == 'front-end'" class="sections__item">
            <a href="#" class="sections__acess front-end">
                <img [src]="item.imageSectionUrl" alt="ícone seção front-end" class="sections__image">
                <h6 class="sections__area">Livros de
                    <p>{{item.area}}</p>
                </h6>
            </a>
            <p class="sections__text">{{item.section1}}, {{item.section2}}, {{item.section3}}</p>
        </div>
    </li>
    <li *ngFor="let item of getSections" class="sections__infraestrutura">
        <div *ngIf="item.area == 'infraestrutura'" class="sections__item">
            <a href="#" class="sections__acess infraestrutura">
                <img [src]="item.imageSectionUrl" alt="ícone seção infraestrutura" class="sections__image">
                <h6 class="sections__area">Livros de
                    <p>{{item.area}}</p>
                </h6>
            </a>
            <p class="sections__text">{{item.section1}}, {{item.section2}}, {{item.section3}}</p>
        </div>
    </li>
    <li *ngFor="let item of getSections" class="sections__business">
        <div *ngIf="item.area == 'business'" class="sections__item">
            <a href="#" class="sections__acess business">
                <img [src]="item.imageSectionUrl" alt="ícone seção business" class="sections__image">
                <h6 class="sections__area">Livros de
                    <p>{{item.area}}</p>
                </h6>
            </a>
            <p class="sections__text">{{item.section1}}, {{item.section2}}, {{item.section3}}, {{item.section4}}, {{item.section5}}</p>
        </div>
    </li>
</ul>